@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register a new customer";
}


<div class="col-5 align-center  ">
    <div class="card p-3">
        <form method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Type username...">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" class="form-control" name="password" placeholder="Type password...">
            </div>
            <div class="form-group">
                <label for="firstName">FirstName:</label>
                <input type="text" class="form-control" name="firstName" placeholder="Type first name...">
            </div>
            <div class="form-group">
                <label for="lastName">LastName:</label>
                <input type="text" class="form-control" name="lastName" placeholder="Type last name...">
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" name="mobile" placeholder="Type phone number...">
            </div>

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>

        <div class="mt-2">
            @if (ViewBag.ResponseData != null)
            {
                @if (ViewBag.ResponseData.ResultCode != 1)
                {
                    <div class="alert alert-danger" role="alert">
                        Something went drastically wrong :(
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        User @ViewBag.ResponseData.FirstName has been successfully registered!
                    </div>
                }

                @if (ViewBag.IsDeveloperMode || ViewBag.ResponseData.ResultCode == 1)
                {
                    <h5>Response:</h5>
                    <pre>@Html.Raw(ViewBag.ResponseData)</pre>
                }
            }

        </div>

    </div>

</div>