@inherits LayoutComponentBase

<PageTitle>Mekashron Interview Task</PageTitle>

<div>
    <main>
        <div>
            <NavMenu />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
